/**
 * Rosé Pine Dawn - Rofi Color Scheme
 * Based on https://rosepinetheme.com
 **/

* {
    background:     #FAF4EDFF;
    background-alt: #FFFAF3FF;
    foreground:     #575279FF;
    selected:       #56949FFF;
    active:         #286983FF;
    urgent:         #B4637AFF;
}
