/**
 * Hackerman - Rofi Color Scheme
 * Cyberpunk/Matrix inspired theme
 **/

* {
    background:     #0B0C16FF;
    background-alt: #6A6E95FF;
    foreground:     #DDF7FFFF;
    selected:       #50F872FF;
    active:         #4FE88FFF;
    urgent:         #829DD4FF;
}
